body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-form {
  background-color: #eeffce;
  color: rgb(255, 255, 255);
}

.button-submit {
  background-color: #c4f1b4;
}

.button-submit:hover {
  background-color: #aff196;
}

.note-header {
  background-color: rgb(250, 219, 165);
  font-family: 'Courier New', Courier, monospace;
  padding-top: 5px;
}

.author-name {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.note-card {
  background-color: #fdfad4;
  color: rgb(114, 129, 112);
  max-height: 400px;
  overflow-y: scroll;
}

.button-delete {
  background-color: #97a563;
  position: absolute;
  bottom: 7px;
  right: 0;
  left: 15;
  color: rgb(255, 255, 255);
}

.button-update {
  background-color: #5d7ba8;
  position: absolute;
  bottom: 7px;
  color: rgb(255, 255, 255);
}

.button-update .button-delete:hover {
  color: rgb(18, 245, 245);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(97, 95, 86);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(124, 10, 10, 0.329);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b3434;
}